@use '@styles/general' as general;

.root {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    background-color: rgba(245, 245, 245, 0.65);
    padding-top: 2em;
    padding-bottom: 2em;
    background-repeat: no-repeat;
    background-image: url('../../../src/assets/img/bands/USC-Rally-Website-Calendar-1000x667-2966088490.jpeg');
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    height: 600px;
    opacity: 0.88;
}

.title {
    font: var(--heading1);
    text-align: center;
    letter-spacing: 0.4rem;
    color: var(--snow-white);
    font-style: normal;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.55);
    background-color: #af3434;
    width: 400px;
    border-radius: 25px;

    @media only screen and (max-width: general.$mobile-width) {
        font-size: 3rem;
    }
}

.paragraph {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font: var(--paragraph1);

    @media only screen and (max-width: general.$mobile-width) {
        font-size: 1rem;
    }
}

.text {
    width: 60%;
    color: var(--snow-white);
    background-color: #af3434;
    border-radius: 25px;
}

.button {
    align-self: center;
}

.image {
    align-self: center;
    margin-top: 1em;
}
