.root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.profile-pic {
    width: 288px;
    height: 288px;
    position: relative;
    border-radius: 50%;
    border: 0px solid black;
}
.div1 {
    width: 200px;
}
.header1 {
    object-fit: fill;
}
.div2 {
    align-content: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.div3 {
    display: flex;
    grid-template-rows: 1fr;
    grid-auto-flow: row dense;
    grid-template-columns: 0.3fr 1fr;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}
.header2 {
    padding-bottom: 15px;
}
.p1 {
    width: 288px;
}
.p2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.p3 {
    text-align: center;
}
.p4 {
    text-align: center;
}
